body {
  background-color: rgb(151, 175, 184);
  padding: 5px;
}

h1 {
  background-color: rgb(132, 151, 158);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header {
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}
.projectName {
  position: fixed;
  margin-top: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.middle {
  position: fixed;
  left: 50%;
  margin-left: -50px;
}

.inputs {
  margin: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 1.5em;
}

.full{
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100%;
}

p{
  color: rgb(51, 58, 65);
}