body {
  background-color: rgb(151, 175, 184);
  padding: 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.myHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: rgb(235, 235, 235);
  text-align: center;
  max-height: 3em;
  height: 3em;
  overflow: hidden;
}

.projectName {
  position: fixed;
  margin-top: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.middle {
  position: fixed;
  left: 50%;
  margin-left: -50px;
}

.inputs {
  margin: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 1.5em;
}

.full {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100%;
}

p {
  color: rgb(51, 58, 65);
}

.main {
  position: fixed;
  top: 3.5em;
  width: 100%;
  bottom: 1.5em;
  margin-left: 15px;
  max-height: calc(100vh - 4.5em);
  /* margin-top: 10px; */
}

/* SİDE BAR CSS */

.preview {
  height: calc(100vh - 4.5em);
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 3em;
  /* left: 0; */
  right: 0;
  background-color: rgb(51 , 58, 65);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* Position and style the close button (top right corner) */
.preview .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  /* font-size: 10px;
  cursor: pointer;
  background-color: rgb(51 , 58, 65);
  color: white;
  padding: 10px 15px;
  border: none;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  margin-top: 0;
  margin-right: 0; */
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#myEditor {
  transition: margin-right .5s;
  /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .preview {
    padding-top: 15px;
  }

  .preview a {
    font-size: 18px;
  }
}


#markdown-editor{
    width: calc(100vw - 20px);
    height: calc(100vh - 4.5em - 20px);
    overflow: scroll;
}

#html-preview{
  background-color: white;
  white-space: pre-wrap;
}